*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #2e7bff;
  --color-background: #222;
  --color-tab: #333;
  --color-tab--active: #444;
  --color-text: #fff;

  --border-radius_default: 10px;
}

html, body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 50px;
}

*:focus:active {
  outline: 0;
}

.tab-list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 20px 20px 0;
  list-style: none;
}

.tab {
  --halo-color: rgba(255, 255, 255, 0.4);
  --corner-radius: 10px;
  --line-width: 2px;

  flex: 1 0 auto;
  position: relative;
  padding: 30px;
  border-radius: var(--corner-radius) var(--corner-radius) 0 0;
  background-color: var(--color-tab);
}

.tab--active {
  z-index: 1;
  background-color: var(--color-tab--active);
}

.tab--active::before,
.tab--active::after {
  content: '';
  width: var(--corner-radius);
  height: var(--corner-radius);
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.tab--active::before {
  right: calc(100% - var(--line-width));
  background: radial-gradient(circle farthest-side at top left, transparent, transparent 100%, var(--color-tab--active) 100%);
}

.tab--active::after {
  left: calc(100% - var(--line-width));
  background: radial-gradient(circle farthest-side at top right, transparent, transparent 100%, var(--color-tab--active) 100%);
}

.tab-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--line-width) solid var(--halo-color);
  border-bottom-width: 0;
  border-radius: inherit;
  mask-image: radial-gradient(ellipse 30% 90% at top left, #fff, transparent);
}

.tab--active .tab-border {
  height: calc(100% - var(--corner-radius) + var(--line-width));
  border-color: var(--color-primary);
  mask-image: none;
}

.tab--active .tab-border::before,
.tab--active .tab-border::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 50%;
  height: var(--corner-radius);
  border: inherit;
  border-width: 0;
  border-bottom-width: var(--line-width);
}

.tab--active .tab-border::before {
  border-right-width: var(--line-width);
  right: 100%;
  border-bottom-right-radius: var(--corner-radius);
  mask-image: linear-gradient(to right, transparent, #fff);
}

.tab--active .tab-border::after {
  border-left-width: var(--line-width);
  left: 100%;
  border-bottom-left-radius: var(--corner-radius);
  mask-image: linear-gradient(to left, transparent, #fff);
}

.tab--active:first-child .tab-border::before,
.tab--active:last-child .tab-border::after {
  width: calc(var(--corner-radius) + 5px);
}

.tab--active:first-child .tab-border::before {
  mask-image: linear-gradient(to right, transparent, #fff 50%);
}

.tab--active:last-child .tab-border::after {
  mask-image: linear-gradient(to left, transparent, #fff 50%);
}

.tab-content {
  background-color: var(--color-tab--active);
  border-radius: var(--border-radius_default);
  padding: 50px;
}